@import 'tailwindcss';
@theme {
  --breakpoint-xs: '576px';
  --breakpoint-sm: '768px';
  --breakpoint-md: '992px';
  --breakpoint-lg: '1200px';
  --breakpoint-xl: '1408px';
  /* theme colors */
  --color-primary-50: var(--mantine-color-primary-0);
  --color-primary-100: var(--mantine-color-primary-1);
  --color-primary-200: var(--mantine-color-primary-2);
  --color-primary-300: var(--mantine-color-primary-3);
  --color-primary-400: var(--mantine-color-primary-4);
  --color-primary-500: var(--mantine-color-primary-5);
  --color-primary-600: var(--mantine-color-primary-6);
  --color-primary-700: var(--mantine-color-primary-7);
  --color-primary-800: var(--mantine-color-primary-8);
  --color-primary-900: var(--mantine-color-primary-9);
}

.draggable {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 999px;
  transition: background 0.2s;
}

*::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
